@import "cards";

.flat-map-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 20px;
  margin: 30px;
}

.left {
}

.right {
}

.flat-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.flat {
  display: flex;
  align-items: center;
}


.marker-content {
  margin-top: 10px;
  font-size: 12px;
  width: 150px;
  background-color: lightcoral;
  color: white;
  padding: 10px;
}